@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

* {
    font-family: Inter;
    color: white;
}

body {
    background: #100E19;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}
  